<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div id="root">
    <h3>Retirement Calculator</h3>
    <input type="text" placeholder="Age" v-model='retirement.age'>
    <input type="text" placeholder="Salary" v-model='retirement.salary'>
    <input type="text" placeholder="Interest Rate" v-model='retirement.rate'>
    <input type="text" placeholder="Investment Goal" v-model='retirement.goal'>
    <p>Retirement Age: {{retirement.result}}</p>
    <button @click='calculateRetirement'>Calculate!</button>
  </div>
  </body>

  <script src="https://unpkg.com/vue@2.5.16/dist/vue.js" charset="utf-8"></script>
  <script src="bundle.js" charset="utf-8"></script>
  <script src="main.js" charset="utf-8"></script>

</html>